

/*Animations */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courgette', cursive;

}


html{
    scroll-behavior: smooth;
}


body{
    background: #111222;
}

section{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 100px;
    color: #fff;
}

.container{

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.title{
    font-size: 4em;
    margin-bottom: 50px;

}

.content{
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content .image{
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;
}

.content .image img{
    z-index: 111;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.content .textbox{
    z-index: 222;
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    transform: translate(-80px, 50px);
}

.content .textbox h3{
    font-size: 3em;
    margin-bottom: 10px;
}

.mediaicons{
    margin-top: 1px;
    

}

.mediaicons a{
    
    color: #fff;
    font-size: 1em;
    margin-right: 50px;
    align-items: line;
    
    
}

.section-title{
    font-size: 3em;
    margin-bottom: 80px;

}

.info-title{
    font-size: 1.8em;
    margin-bottom: 10px;

}

.info{
    width: 700px;
    margin-left: 50px;
}

.media-info{
    width: 400px;
    margin-left: 50px;
}

.media-info li{
    list-style: none;
    font-size: 1em;

}

.media-info li a{
    color:#fff;
    text-decoration: none;

}

.media-info li:not(:last-child){
    margin-bottom: 50px;
}

.media-info li:nth-child(1), .media-info li:nth-child(5){
    padding-left: 100px;

}

.media-info li:nth-child(2), .media-info li:nth-child(4){
    padding-left: 50px;
    
}

.sec3{
    margin-bottom: 100px;

}


/* Transparent Background*/


.background{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.background::before{
    content: '';
    background-image: url('polaroid.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    
}

h1{
    font-size: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    position: relative;
}


/* Snowfall Animation*/


.snow_wrap{
    height: 100vh;
    width: 100%;
    background: url('fog.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
}

.snow, .snow:after, .snow:before{
    content: "";
    position: absolute;
    top: -650px;
    right: 0;
    bottom: 0;
    left: 0;
    background-image:
    radial-gradient(4px 4px at 100px 50px, #fff, transparent),
    radial-gradient(6px 6px at 200px 150px, #fff, transparent),
    radial-gradient(3px 3px at 300px 250px, #fff, transparent),
    radial-gradient(4px 4px at 400px 350px, #fff, transparent),
    radial-gradient(6px 6px at 500px 100px, #fff, transparent),
    radial-gradient(3px 3px at 50px 200px, #fff, transparent),
    radial-gradient(4px 4px at 150px 300px, #fff, transparent),
    radial-gradient(6px 6px at 250px 400px, #fff, transparent),
    radial-gradient(3px 3px at 350px 500px, #fff, transparent);
    background-size: 650px 650px;
    animation: snowAnim 3s linear infinite ;
    
}

.snow:after{
    margin-left: -250px;
    opacity: 0.5;
    filter: blur(2px);
}

.snow:before{
    margin-left: -350px;
    opacity: 0.7;
    filter: blur(1px);
}

@keyframes snowAnim{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(650px);
    }
}


